:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:#242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.image-selector-img {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image-selector-img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

table {
  background-color: white;
  color: black;
}


.table-container {
  width: 100%;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  min-width: 1000px;
  border-collapse: collapse;
}

@media (max-width: 1047px) {

  #root{ 
    width: 400px;
  }
  table {
    min-width: unset;
    font-size: 14px;
    background-color: #ffffff;
  }

  th, td {
    padding: 4px;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .link-list {
    display: none !important;
  }
}

.css-y7ab46-MuiPaper-root-MuiDrawer-paper{
  background-color: #555859;
}

.table-body input {
  max-width: 100px;
}

input {
  background-color: white;
  color: black;
  border-radius: 6px;
}